
@{
    ViewData["Title"] = "Create_Discount";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section css{
    <link href="~/Public/Admin/css/table.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Public/Admin/font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/Public/Admin/css/main1.css">
}

<section>
        <div class="activity-grid">
            <div class="activity-card">
                <div class="activity-header">
                    <h3>Nhập mã giảm giá</h3>
                </div>

                <form action="@Url.Action("Create_Discount","Discount")" method="post">
                    <div class="activity-card-calendar">

                        <div class="input-groups mb-3">
                            <span>Ngày bắt đầu  </span>
                            <input id="datePickerId" value="@ViewBag.Start" name="start" type="date" data-date-inline-picker="true" />
                        </div>
                        <div class="input-groups mb-3">
                            <span> Ngày Kết thúc  </span>
                            <input id="datePickerId" value="@ViewBag.End" name="end" type="date" data-date-inline-picker="true" />
                        </div>
                    </div>
                    <table class="form" style="border-collapse: inherit;">
                        <tr>
                            <td>
                                <input type="text" name="value" placeholder="Nhập giá trị" class="medium" style="width: 50%;text-align: center;padding: 10px;border-radius: 6px;font-size: 20px;" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="submit" name="submit" Value="Save" style="padding: 10px 20px;border-radius: 6px;color: #fff;background: #323434;" />
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
</section>

@section scripts{

}

