
@{
    ViewData["Title"] = "Payment_Page";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

@section css{
    <link rel="stylesheet" href="~/Public/User/css/productCart.css">
    <link rel="stylesheet" href="~/Public/User/css/thanhtoan.css">
}

<section>
        <div class="grid" style="border-top: 1px solid #ccc;">
            <form action="" method="POST">
                <div class="grid">
                    <div class="app">
                        <div class="grid wide">
                            <div class="row">
                                <div class="col l-8" style="margin-top: 40px;">
                                    <div class="col l-12">
                                        <div class="checkout-process-bar block-border">
                                            <ul>
                                                <li class="">
                                                    <span>Giỏ hàng</span>
                                                </li>
                                                <li class="active"><span>Đặt hàng</span></li>
                                                <li class=""><span>Thanh toán</span></li>
                                                <li><span>Hoàn thành đơn</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col l-12" style="margin: 20px 0;">
                                        <h3 style="padding: 10px;font-family: var(--font-family-sans-serif);">Thông tin sản phẩm</h3>
                                        <div style="border: 1px solid #e7e8e9;border-radius: 32px 0px 0px;">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Ảnh</th>
                                                        <th>Tên</th>
                                                        <th>Size</th>
                                                        <th>Giá</th>
                                                        <th>Số lượng</th>
                                                        <th>Số tiền</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
             
                                                    <tr>
                                                        <td>0</td>
                                                        <td>
                                                            <div class="cart-td_title">
                                                                <a href="@Url.Action("Detail_Product_Page","DetailProduct")">
                                                                    <img style="cursor:pointer;" src="" alt="" class="app_cart-img">
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <span></span>
                                                        </td>
                                                        <td></td>
                                                        <td>
                                                            <div class="cart-btn">
                                                                <span></span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <input type="hidden" name="cartId" value="<?php echo $result_ProductCat['cartID'] ?>" />
                                                            <input style="border: none;background: none;font-family: var(--font-family-sans-serif);" type="button" name="quantity" value="" width="30" />
                                                        </td>

                                                        <td>
                                                            <span class="cart-current">

                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                    <div class="col l-12" style="margin: 20px 0;">
                                        <h3 style="padding: 10px;font-family: var(--font-family-sans-serif);">Địa chỉ giao hàng</h3>
                                        <div style="border: 1px solid #e7e8e9;border-radius: 32px 0px 0px;">
                                            <table>
                                                <tbody>
                                                    <tr style="line-height:50px;">
                                                        <td>Tên: </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr style="line-height:50px;">
                                                        <td>Email: </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr style="line-height:50px;">
                                                        <td>SĐT: </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr style="line-height:50px;">
                                                        <td>Address: </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr style="line-height:50px;">
                                                        <td colspan="2" style="cursor:pointer;"><a href="account.php" style="text-decoration:none;color:black; ">Chỉnh sửa thông tin</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                </div>
                                <div class="col l-4">
                                    <div class="cart-voucher">
                                        <h3>Tóm tắt đơn hàng</h3>
                                       
                                        <div style="display: flex;justify-content: space-between; margin: 20px 0;">
                                            <span class="voucher-title">
                                                <span>Tổng sản phẩm</span>
                                            </span>
                                            <span class="sum-product">

                                            </span>
                                        </div>
                                        <div style="display: flex;justify-content: space-between; margin: 20px 0;">
                                            <div class="voucher-title">
                                                <span>Tổng tiền hàng</span>
                                            </div>
                                            <span class="sum-product"></span>
                                        </div>
                                        <div style="display: flex;justify-content: space-between; margin: 20px 0;">
                                            <span class="sum-product">Tiền thuế(VAT 10%)</span>
                                            <span class="sum-product">

                                            </span>
                                        </div>
                                        <div class="cart-purchase">
                                            <span class="sum-product">Thành tiền</span>
                                            <span class="sum-product" style="font-weight: 800;">

                                            </span>
                                        </div>
                                        <div class="cart-purchase-button">
                                            <p class="btn"><a href="?orderid=order" id="btn_order" onclick="return alert('Bạn đã đặt hàng thành công')">Xác nhận đặt hàng</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
</section>