<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Public/Admin/css/login.css">
    <link rel="stylesheet" href="~/Public/Admin/css/grid.css">
    <link rel="stylesheet" href="~/Public/User/font/themify-icons/themify-icons.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.min.css" rel="stylesheet">
    <title>Đăng nhập admin</title>
</head>
@model ASP.NET_CORE.DATA.Model.LoginVM
<body>
    <!-- partial:index.partial.html -->
    @using (Html.BeginForm("Login_Request", "Login", FormMethod.Post, new { @class = "login-form", enctype = "multipart/form-data" }))
    {
        <p class="login-text">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-lock fa-stack-1x"></i>
            </span>
        </p>
        @Html.AntiForgeryToken()
        @Html.Editor("username", new { htmlAttributes = new { @class = "login-username", @placeholder = "Tên đăng nhâp"} })
        @Html.Editor("pass", new { htmlAttributes = new { @class = "login-password", @placeholder = "Password", type="password" } })
        <div class="login-form-waring">
        </div>
        <input type="submit" name="Login" value="Login" class="login-submit" />

        <span id='fail'></span>
        <a href="#" class="login-forgot-pass">Forgot password?</a>
        <div class="underlay-photo"></div>
        <div class="underlay-black"></div>
        <!-- partial -->
    }
</body>
<script src="~/Public/plugins/jquery/jquery.min.js"></script>
<script src="~/Public/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<script>
    function warning() {
        let warning = "@((string)ViewBag.message)";
        let icon = '';
        let title = '';
        let text = '';
        if (warning == "login fail") {
            icon = 'warning'
            title = 'Oosp. Fail!!!'
            text = 'Sai tài khoản hoặc mật khẩu'
        }

        if (icon != '' && title != '' && text != '')
            Swal.fire({
                icon: icon,
                title: title,
                text: text
            })
    }
    warning()
</script>
</html>
