
@{
    ViewData["Title"] = "Order_Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section css{
    <link rel="stylesheet" href="~/Public/Admin/css/donhang1.css">
    <link rel="stylesheet" href="~/Public/Admin/font/themify-icons/themify-icons.css">
}

<section>
          <div class="activity-grid">
                    <div class="activity-card">
                        <!-- status=0 -->

                            <h2>ĐƠN HÀNG ĐANG CHỜ XÁC NHẬN</h2>

                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Đơn hàng: <?php echo $count; ?></th>
                                                <th colspan="2">Account: <?php echo $username; ?></th>
                                                <th colspan="5">Ngày đặt: <?php echo $result_date['order_time']; ?></th>
                                                <th colspan="2" class="toggle">Xem chi tiết</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <table class="display" >
                                        <thead style="background-color:#2a2b2c;">
                                            <tr>
                                                <th>STT</th>
                                                <th>Tên khách hàng</th>
                                                <th>Ảnh</th>
                                                <th>Tên</th>
                                                <th>Size</th>
                                                <th>Giá</th>
                                                <th>Số lượng</th>
                                                <th>Thành tiền</th>
                                                <th>Địa chỉ</th>
                                                <th>Tình trạng</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                    <tr>
                                                        <td><?= ($i = $i + 1); ?></td>
                                                        <td><?= $result_getOrder_waiting['name']; ?></td>
                                                        <td>
                                                            <a href="../chitietsanpham.php?productId=<?php echo $result_getOrder_waiting['productId'] ?>&&brandId=<?php echo $result_getOrder_waiting['brandId'] ?>">
                                                                <img style="width:100px;" src="~/Public/dist/img/user2-160x160.jpg"></a>
                                                        </td>
                                                        <td>
                                                            kạdklasjkjasdjajdaskjdkljs
                                                        </td>
                                                        <td>
                                                            <?= $result_getOrder_waiting['size']; ?>
                                                        </td>
                                                        <td>
                                                            <?= number_format($result_getOrder_waiting['price'], 0, ',', '.') . "" . "đ"  ?>
                                                        </td>
                                                        <td>
                                                            <?= $result_getOrder_waiting['quantity']; ?>
                                                        </td>
                                                        <td>
                                                            <?= number_format($result_getOrder_waiting['thanhtien'], 0, ',', '.') . "" . "đ"  ?>
                                                        </td>
                                                        <td style="width:250px;">
                                                            <?= $result_getOrder_waiting['diaChi']; ?>
                                                        </td>
                                                        <td style="color:red;cursor:pointer">Đang chờ xác nhận</td>

                                                    </tr>
                                                <?php

                                                }
                                                ?>
                                                <td colspan="6" style="background-color:#2a2b2c;text-align:center;color:white;">Tổng đơn hàng: <?php echo number_format($tong0, 0, ',', '.') . "" . "đ"; ?></td>
                                                <td colspan="4" style="background-color:#2a2b2c;">
                                                    <div>
                                                        
                                                        <a class="ti-check" style="font-size:15px;" onclick="return confirm('Bạn có chắc chắn muốn xác nhận đơn hàng này')" href="?order=<?php echo $orderID ?>&status=1&userId=<?php echo $userId; ?>&action=0&username=<?php echo $username; ?>"> Xác nhận đơn hàng </a>

                                                    </div>

                                                </td>
                                        </tbody>

                                    </table>

                                    <!-- status=1 -->

                                        <h2>ĐƠN HÀNG ĐANG GIAO</h2>

                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th>Đơn hàng: <?php echo $count; ?></th>
                                                            <th colspan="2">Account: <?php echo $username; ?></th>
                                                            <th colspan="5">Ngày đặt: <?php echo $result_date['order_time']; ?></th>
                                                            <th colspan="2" class="toggle">Xem chi tiết</th>
                                                        </tr>
                                                    </thead>
                                                </table>

                                                <table class="display">
                                                    <thead style="background-color:#2a2b2c;">
                                                        <tr>
                                                            <th>STT</th>
                                                            <th>Tên khách hàng</th>
                                                            <th>Ảnh</th>
                                                            <th>Tên</th>
                                                            <th>Size</th>
                                                            <th>Giá</th>
                                                            <th>Số lượng</th>
                                                            <th>Thành tiền</th>
                                                            <th>Địa chỉ</th>
                                                            <th>Tình trạng</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                                <tr>
                                                                    <td><?= ($i = $i + 1); ?></td>
                                                                    <td><?= $result_getOrder_waiting['name']; ?></td>
                                                                    <td>
                                                                        <a href="../chitietsanpham.php?productId=<?php echo $result_getOrder_waiting['productId'] ?>">
                                                                            <img style="width:100px;" src="../admin/upload/<?= $result_getOrder_waiting['image']; ?>"></a>
                                                                    </td>
                                                                    <td>
                                                                        <?= $result_getOrder_waiting['productName']; ?>
                                                                    </td>
                                                                    <td>
                                                                        <?= $result_getOrder_waiting['size']; ?>
                                                                    </td>
                                                                    <td>
                                                                        <?= number_format($result_getOrder_waiting['price'], 0, ',', '.') . "" . "đ"  ?>
                                                                    </td>
                                                                    <td>
                                                                        <?= $result_getOrder_waiting['quantity']; ?>
                                                                    </td>
                                                                    <td>
                                                                        <?= number_format($result_getOrder_waiting['thanhtien'], 0, ',', '.') . "" . "đ"  ?>
                                                                    </td>
                                                                    <td style="width:250px;">
                                                                        <?= $result_getOrder_waiting['diaChi']; ?>
                                                                    </td>
                                                                    <td style="color:blue;cursor:pointer">Đang vận chuyển</td>
                                                                </tr>
                                                            <td colspan="11" style="background-color:#2a2b2c;text-align:center;color:white;">Tổng đơn hàng: <?php echo number_format($tong1, 0, ',', '.') . "" . "đ"; ?></td>
                                                    </tbody>
                                                </table>




                                            <!-- status=2,5 -->

                                                <h2>ĐƠN HÀNG ĐÃ GIAO</h2>

                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <th>Đơn hàng: <?php echo $count; ?></th>
                                                                <th colspan="2">Account: <?php echo $username; ?></th>
                                                                <th colspan="2">Ngày đặt: <?php echo $result_date['order_time']; ?></th>
                                                                <th colspan="3">Ngày giao: <?php echo $result_date['recieve_time']; ?></th>
                                                                <th colspan="2" class="toggle">Xem chi tiết</th>
                                                            </tr>
                                                        </thead>
                                                    </table>

                                                    <table class="display">
                                                        <thead style="background-color:#2a2b2c;">
                                                            <tr>
                                                                <th>STT</th>
                                                                <th>Tên khách hàng</th>
                                                                <th>Ảnh</th>
                                                                <th>Tên</th>
                                                                <th>Size</th>
                                                                <th>Giá</th>
                                                                <th>Số lượng</th>
                                                                <th>Thành tiền</th>
                                                                <th>Địa chỉ</th>
                                                                <th>Tình trạng</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                                    <tr>
                                                                        <td><?= ($i = $i + 1); ?></td>
                                                                        <td><?= $result_getOrder_waiting['name']; ?></td>
                                                                        <td>
                                                                            <a href="../chitietsanpham.php?productId=<?php echo $result_getOrder_waiting['productId'] ?>">
                                                                                <img style="width:100px;" src="../admin/upload/<?= $result_getOrder_waiting['image']; ?>"></a>
                                                                        </td>
                                                                        <td>
                                                                            <?= $result_getOrder_waiting['productName']; ?>
                                                                        </td>
                                                                        <td>
                                                                            <?= $result_getOrder_waiting['size']; ?>
                                                                        </td>
                                                                        <td>
                                                                            <?= number_format($result_getOrder_waiting['price'], 0, ',', '.') . "" . "đ"  ?>
                                                                        </td>
                                                                        <td>
                                                                            <?= $result_getOrder_waiting['quantity']; ?>
                                                                        </td>
                                                                        <td>
                                                                            <?= number_format($result_getOrder_waiting['thanhtien'], 0, ',', '.') . "" . "đ"  ?>
                                                                        </td>
                                                                        <td style="width:250px;">
                                                                            <?= $result_getOrder_waiting['diaChi']; ?>
                                                                        </td>
                                                                        <td style="color:blue;cursor:pointer">Đã nhận được hàng</td>
                                                                    </tr>
                                                                <td colspan="11" style="background-color:#2a2b2c;text-align:center;color:white;">Tổng đơn hàng: <?php echo number_format($tong2, 0, ',', '.') . "" . "đ"; ?></td>
                                                        </tbody>
                                                    </table>


    <!-- status=-1,4 -->

        <h2>ĐƠN HÀNG ĐÃ HỦY</h2>

                <table>
                    <thead>
                        <tr>
                            <th>Đơn hàng: <?php echo $count; ?></th>
                            <th colspan="2">Account: <?php echo $username; ?></th>
                            <th colspan="5">Ngày đặt: <?php echo $result_date['order_time']; ?></th>
                            <th colspan="2" class="toggle">Xem chi tiết</th>
                        </tr>
                    </thead>
                </table>

                <table class="display">
                    <thead style="background-color:#2a2b2c;">
                        <tr>
                            <th>STT</th>
                            <th>Tên khách hàng</th>
                            <th>Ảnh</th>
                            <th>Tên</th>
                            <th>Size</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                            <th>Địa chỉ</th>
                            <th>Tình trạng</th>
                        </tr>
                    </thead>
                    <tbody>

                                <tr>
                                    <td><?= ($i = $i + 1); ?></td>
                                    <td><?= $result_getOrder_waiting['name']; ?></td>
                                    <td>
                                        <a href="../chitietsanpham.php?productId=<?php echo $result_getOrder_waiting['productId'] ?>">
                                            <img style="width:100px;" src="../admin/upload/<?= $result_getOrder_waiting['image']; ?>"></a>
                                    </td>
                                    <td>
                                        <?= $result_getOrder_waiting['productName']; ?>
                                    </td>
                                    <td>
                                        <?= $result_getOrder_waiting['size']; ?>
                                    </td>
                                    <td>
                                        <?= number_format($result_getOrder_waiting['price'], 0, ',', '.') . "" . "đ"  ?>
                                    </td>
                                    <td>
                                        <?= $result_getOrder_waiting['quantity']; ?>
                                    </td>
                                    <td>
                                        <?= number_format($result_getOrder_waiting['thanhtien'], 0, ',', '.') . "" . "đ"  ?>
                                    </td>
                                    <td style="width:250px;">
                                        <?= $result_getOrder_waiting['diaChi']; ?>
                                    </td>
                                        <td style="color:red;cursor:pointer">Đã hủy</td>
                                </tr>

                            <td colspan="11" style="background-color:#2a2b2c;text-align:center;color:white;">Tổng đơn hàng: <?php echo number_format($tong2, 0, ',', '.') . "" . "đ"; ?></td>
                    </tbody>
                </table>
                </div>
                </div>
</section>

@section scripts{
    <script src="~/Public/Admin/js/chitietdonhang.js"></script>
}
